:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    filter: blur(5px);
    width: 50vh;
    height: 50vh;
    padding: 20px;
    zoom: 1;
    outline: 1px solid red;
    position: relative;
    top: 80px;
    left: 150px;
    app-color-box {
        float: left;
        margin-right: 10px;
    }
    p {
        margin-top: -14px;
        line-height: 1.8;
        span {
            color: red;
            position: relative;
            top: -3px;
            transform: rotate(188deg) scale(1.8);
            display: inline-block;
            margin-right: 10px;
        }
    }
}

app-switch {
    display: block;
    margin-bottom: 10px;
}
