$checker-color: #aaa;
@mixin checkerboard {
    background-color: #efefef;
    background-image: linear-gradient(
        45deg,
        $checker-color 25%,
        transparent 25%,
        transparent 75%,
        $checker-color 75%,
        $checker-color
      ),
      linear-gradient(
        45deg,
        $checker-color 25%,
        transparent 25%,
        transparent 75%,
        $checker-color 75%,
        $checker-color
      );
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
}